*{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

img{
    max-width: 50%;
    max-height: 10%;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
}
.main{
    border: 1px outset black;
    background-color: aliceblue;
    min-width: 300px;
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.item{
  display:none;
}
.item.active{
    display: block;
}
.paginas{
    display: flex;
    justify-content: center;
}